@model GerenciamentoHotel.Models.tb_consumo

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Consumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_consumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_consumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_unitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_unitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_checkin.hora_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_checkin.hora_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_itens_consumo.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_itens_consumo.descricao)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Consumo", new { id = Model.codigo })" title="Editar"><span class="btn btn-default fa fa-pencil">Editar</span></a>&nbsp;
    <a href="@Url.Action("Index", "Consumo")" title="Voltar"><span class="btn btn-default fa fa-arrow-left">Voltar</span></a>
    <a href="@Url.Action("Index", "Home")" title="Voltar"><span class="btn btn-default fa fa-home">Ir para Home</span></a>
</p>
