@model GerenciamentoHotel.Models.tb_itens_consumo

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Item de Consumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "ItensConsumo", new { id = Model.codigo })" title="Editar"><span class="btn btn-default fa fa-pencil">Editar</span></a>&nbsp;
    <a href="@Url.Action("Index", "ItensConsumo")" title="Voltar"><span class="btn btn-default fa fa-arrow-left">Voltar</span></a>
    <a href="@Url.Action("Index", "Home")" title="Voltar"><span class="btn btn-default fa fa-home">Ir para Home</span></a>
</p>
