@model GerenciamentoHotel.Models.ItemConsumo

@{
    ViewBag.Title = "Editar Itens de Consumo";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}

<h2>Editar Itens de Consumo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Itens de Consumo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Codigo)

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default" onclick="return validar();">
                    <span class="fa fa-save"></span>Salvar
                </button>
                <a href="@Url.Action("Index", "ItensConsumo")" title="Voltar"><span class="btn btn-default fa fa-arrow-left">Voltar</span></a>
                <a href="@Url.Action("Index", "Home")" title="Voltar"><span class="btn btn-default fa fa-home">Ir para Home</span></a>
            </div>
        </div>
        <br />
    </div>
}

<script>

    $(document).ready(function () {
        $('#Valor').mask('#.##0,00', { reverse: true });
    });

    function validar() {
        var retorno = true;
        var descricao = $('#Descricao').val();
        var valor = $('#Valor').val();

        if (descricao == '') {
            msgbox('Forneça uma descrição.');
            return false;
        }

        if (valor == '') {
            msgbox('Forneça um valor.');
            return false;
        }

        return retorno;
    }
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
