@model GerenciamentoHotel.Models.tb_checkout

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Checkout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_saida)
        </dt>

        <dd>
            @string.Format("{0:dd/MM/yyyy}", Model.data_saida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_saida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_saida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_diarias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_diarias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_diária)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_diária)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_telefonemas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_telefonemas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_consumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_consumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.forma_pagamento)
        </dt>

        <dd>
            @switch (Model.forma_pagamento)
            {
                case 0:
                    <span>Nenhuma</span>
                    break;
                case 1:
                <span>Cartão</span>
                    break;
                case 2:
                <span>Dinheiro</span>
                    break;
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_checkin.hora_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_checkin.hora_entrada)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Checkout", new { id = Model.codigo })" title="Editar"><span class="btn btn-default fa fa-pencil">Editar</span></a>&nbsp;
    <a href="@Url.Action("Index", "Checkout")" title="Voltar"><span class="btn btn-default fa fa-arrow-left">Voltar</span></a>
    <a href="@Url.Action("Index", "Home")" title="Voltar"><span class="btn btn-default fa fa-home">Ir para Home</span></a>
</p>
<br/>
