@model GerenciamentoHotel.Models.tb_reserva

@{
    ViewBag.Title = "Detalhes da Reserva";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}

<h2>Detalhes da Reserva</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_entrada)
        </dt>

        <dd>
            @string.Format("{0:dd/MM/yyyy}", Model.data_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_saida)
        </dt>

        <dd>
            @string.Format("{0:dd/MM/yyyy}", Model.data_saida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtd_adultos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtd_adultos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtd_criancas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtd_criancas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_acomodacao.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_acomodacao.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_hospede.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_hospede.nome)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Reserva", new { id = Model.codigo })" title="Editar"><span class="btn btn-default fa fa-pencil">Editar</span></a>&nbsp;
    <a href="@Url.Action("Index", "Reserva")" title="Voltar"><span class="btn btn-default fa fa-arrow-left">Voltar</span></a>
    <a href="@Url.Action("Index", "Home")" title="Voltar"><span class="btn btn-default fa fa-home">Ir para Home</span></a>
</p>
