@model IEnumerable<GerenciamentoHotel.Models.tb_reserva>

@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}

<h2>Reservas</h2>

<p>
    <a href="@Url.Action("Create", "Reserva")" title=""><span class="btn btn-default fa fa-plus-circle">Nova reserva</span></a>
    <a href="@Url.Action("ListaReserva", "Reserva")" title="" target="_blank"><span class="btn btn-default fa fa-list">Lista de Reservas</span></a>
    <a href="@Url.Action("Index", "Home")" title="Voltar"><span class="btn btn-default fa fa-home">Ir para Home</span></a>
</p>
<br/>
@if (Model.ToList().Count > 0) {
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data_entrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_saida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtd_adultos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtd_criancas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_acomodacao.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_hospede.nome)
        </th>
        <th style="width:10%;"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @string.Format("{0:dd/MM/yyyy}",item.data_entrada)
        </td>
        <td>
            @string.Format("{0:dd/MM/yyyy}", item.data_saida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtd_adultos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtd_criancas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_acomodacao.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_hospede.nome)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Reserva", new { id = item.codigo })" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
            <a href="@Url.Action("Details", "Reserva", new { id = item.codigo })" title="Detalhes"><i class="fa fa-ellipsis-h"></i></a>
            <a href="@Url.Action("Delete", "Reserva", new { id = item.codigo })" title="Excluir"><i class="fa fa-eraser"></i></a>
        </td>
    </tr>
}

</table>
}
else
{
    <div class="alert alert-info"><strong>Aviso:</strong>Nenhuma reserva encontrada!</div>
}
