@model GerenciamentoHotel.Models.tb_hospede_checkin

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Hóspede Check-in</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tb_checkin.hora_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_checkin.hora_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_hospede.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_hospede.nome)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "HospedeCheckin", new { id = Model.codigo })" title="Editar"><span class="btn btn-default fa fa-pencil">Editar</span></a>&nbsp;
    <a href="@Url.Action("Index", "HospedeCheckin")" title="Voltar"><span class="btn btn-default fa fa-arrow-left">Voltar</span></a>
</p>
